.dashboardContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  background-color: #121212;
}

.dashboardNavBar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100px;
  background-color: dodgerblue;
}

.navItem {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navItem:hover {
  background-color: rgb(118, 187, 255);
}

.dashboardMainContent {
  flex: 1;
  min-height: 100vh;
  padding: 1.5em;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainTitle {
  font-size: 3em;
  font-weight: 700;
  color: white;
  margin: 0;
}

.logoutButton {
  align-self: center;
}